---
---

<footer class="site-footer">
  <div class="foot-top">
    <div class="foot-brand">
      <img src="/logo.png" alt="BigzImpact Global" style="height:52px;width:auto;border-radius:6px;" />
      <p>BIGZIMPACT GLOBAL PVT LTD.,<br />7, 2nd Cross, Narayana Reddy Road,<br />Banaswadi, Bangalore - 560043,<br />Karnataka</p>
    </div>
    <div class="foot-col">
      <h5>Products</h5>
      <a href="#">Payments</a>
      <a href="#">Learning</a>
      <a href="#">Consulting</a>
      <a href="#">Platform</a>
    </div>
    <div class="foot-col">
      <h5>Company</h5>
      <a href="#">About</a>
      <a href="#">Careers</a>
      <a href="#">Press</a>
      <a href="#">Contact</a>
    </div>
    <div class="foot-col">
      <h5>Connect</h5>
      <a href="https://www.linkedin.com/company/bigzimpact-global-pvt-ltd" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="#">Twitter / X</a>
      <a href="#">GitHub</a>
      <a href="#">Email</a>
    </div>
  </div>
  <div class="foot-bottom">
    <span>© 2026 BIGZIMPACTGLOBAL</span>
    <span>PRIVACY · TERMS · KARNATAKA, IN</span>
  </div>
</footer>
